# Configurações da API Monde
MONDE_LOGIN=seu_email@dominio.com.br
MONDE_PASSWORD=sua_senha_aqui
MONDE_ASSIGNEE_ID=4298475b-8b2b-4396-9f0c-a534eed4768a

# Configurações do Google Sheets API
SPREADSHEET_ID=1oalwmRHcqaZt93N4Xy7azgm0kX9gVe4OYUr_ZxGt_zg
GOOGLE_CREDENTIALS_PATH=credentials.json

# Servidor Express
PORT=3000
