# Dependências
node_modules/

# Arquivos de Ambiente e Credenciais Sensíveis
.env
.env.local
credentials.json
estado.json

# Logs e Arquivos de Sistema
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
Thumbs.db
